*{
    margin: 0;
    padding: 0;
}

/*Header*/
nav {
  background-color: #fadadc;
}
nav .nav-link {
  color: #bb111c;
  transition: all 0.2s linear;
}
nav .nav-link:hover {
  color: #56060a;
  transform: scale(1.03);
}
nav .navbar-brand {
  color: #bb111c;
  transition: all 0.2s linear;
}
nav .navbar-brand:hover {
  color: #56060a;
  transform: scale(1.03);
}
nav .navbar-brand img {
  animation: shake 0.4s ease-in-out infinite;
  animation-delay: 0.5s;
}
nav .navbar-toggler-icon {
  background-image: none;
  width: 25px;
  height: 3px;
  background-color: #bb111c;
  position: relative;
  border-radius: 5px;
}
nav .navbar-toggler-icon::before,
nav .navbar-toggler-icon::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #bb111c;
  left: 0;
  transition: all 0.3s;
  border-radius: 5px;
}
nav .navbar-toggler-icon::before {
  top: -6px;
}
nav .navbar-toggler-icon::after {
  top: 6px;
}

h1{
    text-align: center;
    padding: 10px;
}
