*{
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    padding: 5px;
}

#form-shifts-container{
    width: fit-content;
    justify-content: center;
    margin: 20px auto;
    padding: 20px 50px;
    border: 2px solid ;
    border-radius: 20px;
}

#form-shifts-container h2{
    margin-bottom: 10px;
    text-align: center;
}

#field{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#field input, select{
    padding: 5px;
    margin-top: 5px;
}