
#treatments-cards{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#treatments-cards img{
  width:200px;
}

.list-group-item{
  border-bottom: 1.5px solid #e8b9c0  !important;
}

.card{
  border: 2px solid #e8b9c0  !important;
}